<section class="swipe-screen">
  <nav class="navbar is-primary" style="display: flex; justify-content: space-between; align-items: center;">
    <div class="navbar-item">
      <i class="fas fa-utensils mr-2"></i> ForkLock
    </div>
    <div class="navbar-item">
      <span class="tag is-warning is-medium">
        <%= progress[:current] %> / <%= progress[:total] %>
      </span>
    </div>
    <div class="navbar-item">
      <%=
        link_to(
          results_session_path(voting_session.code),
          class: 'button is-small is-light',
          data: { turbo_frame: '_top' }
        ) do
      %>
        <span class="icon"><i class="fas fa-chart-bar"></i></span>
        <span>Results</span>
      <% end %>
    </div>
  </nav>

  <div class="swipe-container">
    <% if current_restaurant %>
      <div
        data-controller="swipe"
        data-swipe-href-value="<%= votes_path %>"
        data-swipe-session-code-value="<%= voting_session.code %>"
      >
        <div class="card-stack">
          <%= render({ partial: 'restaurants/card', locals: { restaurant: current_restaurant } }) %>
        </div>

        <div class="swipe-actions">
          <button class="button is-large is-danger is-rounded swipe-btn"
                  data-action="swipe#left">
            <span class="icon is-medium"><i class="fas fa-times fa-lg"></i></span>
          </button>
          <button class="button is-large is-success is-rounded swipe-btn"
                  data-action="swipe#right">
            <span class="icon is-medium"><i class="fas fa-heart fa-lg"></i></span>
          </button>
        </div>
      </div>
    <% else %>
      <div class="has-text-centered">
        <div class="box">
          <span class="icon is-large has-text-success">
            <i class="fas fa-check-circle fa-3x"></i>
          </span>
          <h3 class="title is-4 mt-4">All Done!</h3>
          <p class="subtitle is-6">You've swiped through all restaurants.</p>
          <%=
            link_to(
              results_session_path(voting_session.code),
              class: 'button is-primary is-medium mt-4',
              data: { turbo_frame: '_top' }
            ) do
          %>
            <span class="icon"><i class="fas fa-trophy"></i></span>
            <span>See Group Results</span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
